[submodule "submodules/botboiler-tasks"]
	path = submodules/botboiler-tasks
	url = https://github.com/MSFTAuDX/botboiler-tasks.git
[submodule "submodules/botboiler"]
	path = submodules/botboiler
	url = https://github.com/MSFTAuDX/botboiler.git
